body {
    background: linear-gradient(to right, red , yellow); /* Standard syntax */
}
div {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	
}

h1 {

}

h3 {
text-transform: none;
letter-spacing: .01em;
}
